##Assignment 02:

#Question No 01
Arithmeic operators

                                                                  I

program to add two numbers

In [1]:
a=5
b=8
sum=a+b
print(sum)

13

                                                                   II

program to find reminder of number

In [3]:

a=10
b=6
reminder =a%b
print(reminder)

4

                                                                  III

program to calculte the sqaure of number

In [4]:
num=8
sqaure=num**2
print(sqaure)

64

#Question  No 02
Assignment operators

                                                                     I

 write a program that assign a value to a variable and then increase it by 5 using an assignment operator

In [6]:
a=8
a=a+5
print(a)

13

                                                                    II

program that multiplies a vaiable by 2 using an assignment operator

In [9]:
a=10
a=a*2
print(a)

20

                                                                   III

program that  subtracts 10 from a variable

In [10]:
a=25
a=a-10
print(a)

15

#Question No 03
Comparison operator

                                                                    I

 program to check eather two numbers are equal or not

In [11]:
a=6
b=5
print(a==b)

False

                                                                    II

program to check if one number is graeter than other

In [12]:
a=20
b=10
print(a>b)

True

                                                                   III

program to compare two numbers and print weather the first number is less than or equal to second number

In [13]:
a=15
b=9
print(a<=b)

False

#Question No 04

Logical operators

                                                                    I

program thar checks if number is less than 20 and greater than 5

In [16]:
num=10
print(num>5 and num<20)

True

                                                                    II

  program that checks number is less than 10 or greater than 20

In [17]:
x=8
print(x<10 or x>20)

True

                                                                   III

 program uses not operator to reverse a condition

In [18]:
x=5
print(not(x>10))

True

#Question No 05

Membership operator

                                                                    I

program to check number in list

In [25]:
number=[1,2,4,6,8]
print(7 in number)

False

                                                                    II

to check word exist in string

In [26]:
q="i love to explore world"
print("love" in q)

True

                                                                  III

to check weather the value not present in tuple

In [28]:
t=[10,20,30,40]
print(8 not in t)

True